@font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy-Regular.eot');
    src: url('../Fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../Fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy-Medium.eot');
    src: url('../Fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../Fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

